.download {
  padding: 30px 0 183px;
}

.download__heading {
  margin-bottom: 11px;
}

.download__text {
  @include reset;
  margin-bottom: 10px;
  line-height: 19.5px;
  color: $download-text-color;
}

.download__menu {
  @include list-reset;
  @include dflex(nowrap, row, space-between, flex-start);
}

.download__menu-link {
  display: block;
}

.download__menu-img {
  display: block;
}

@media (min-width: $tablet-bp) {
  .download {
    padding: 45px 0 33px;
  }

  .download__container {
    position: relative;

    &::before {
      @include abs-center-y;
      width: 160px;
      height: 283px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../img/bg-download-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-download-tablet@2x.png");
      }
    }
  }

  .download__heading {
    margin-left: 190px;
  }

  .download__text {
    margin-left: 190px;
    line-height: 150%;
  }

  .download__menu {
    justify-content: flex-start;
    margin-left: 190px;
  }

  .download__menu-item {
    &:not(:last-child) {
      margin-right: 21px;
    }
  }
}

@media (min-width: $desktop-bp) {
  .download {
    padding-top: 38px;
  }

  .download__heading {
    margin-bottom: 24px;
  }

  .download__container {
    &::before {
      top: 172px;
      left: 7px;
      width: 343px;
      height: 606px;
      background-image: url("../img/bg-download-desktop@1x.png");
      z-index: 1;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-download-desktop@2x.png");
      }
    }
  }

  .download__heading {
    margin-left: 475px;
  }

  .download__text {
    margin-left: 475px;
    margin-bottom: 74px;
    font-size: 18px;
  }

  .download__menu {
    margin-left: 475px;
  }

  .download__menu-item:not(:last-child) {
    margin-right: 23px;
  }
}
