.footer-menu {
  @include list-reset;
  @include dflex(wrap, row, flex-start, center);
}

.footer-menu__item {
  &:not(:last-child) {
    margin-right: 33px;
  }
}

.footer-menu__link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  &:hover,
  &:focus {
    outline: none;
  }

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-email.svg");
  }

  &--enter {
    background-image: url("../img/icon-cabinet.svg");
  }

  &--partnership {
    background-image: url("../img/icon-add.svg");
  }
}

.footer-menu__link-text {
  display: none;
}

@media (min-width: $tablet-bp) {
  .footer-menu__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }

  .footer-menu__link {
    &--btn-show-tablet {
      @include dflex(nowrap, row, center, center);
      width: auto;
      padding: 12px 25px;
      color: $header-footer-color;
      white-space: nowrap;
      font-weight: 700;
      font-size: 18px;
      line-height: 170%;
      background-image: none;
      background-color: #fff;
      border-radius: 100px;
    }
  }

  .footer-menu__link--btn-show-tablet .footer-menu__link-text {
      display: inline;
  }
}
