.heading {
  @include reset;
  margin-top: 0;
  font-family: $font-heading;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -.03em;
  text-transform: uppercase;

  &--contact {
    margin-bottom: 15px;
    color: $contacts-color;
    font-size: 13px;
    line-height: 13px;
  }

  &--reviews {
    @include dflex(nowrap, row, flex-start, center);
    margin-bottom: 10px;
    color: #fff;
  }

  &--faq {
    color: #000;
  }

  &--delivery {
    color: #fff;
    font-size: 13px;
    line-height: 120%;
  }

  &--platform {
    color: #000;
    font-size: 13px;
    line-height: 120%;
  }

  &--online {
    color: #fff;
    font-size: 13px;
    line-height: 120%;
  }

  &--download {
    color: $download-heading-color;
    font-size: 13px;
  }
}

.heading__icon {
  &--reviews {
    margin-left: 10px;
    font-family: $font-icons;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    transform: rotate(-.55deg);
  }
}

.heading__accent {
  color: $accent-color;
}

@media (min-width: $tablet-bp) {
  .heading {
    max-width: 100%;
    font-size: 16px;
    line-height: 120%;

    &--contact {
      @include dflex(nowrap, row, flex-start, center);
    }
  }

  .heading br {
    display: none;
  }

  .heading__icon {
    &--contact {
      margin-left: 5px;
      font-family: $font-icons;
      font-size: 30px;
      line-height: 40px;
      font-weight: 900;
      transform: rotate(-.55deg);
    }
  }
}

@media (min-width: $desktop-bp) {
  .heading {
    font-size: 32px;

    &--download {
      font-size: 42px;
    }

    &--online {
      position: relative;
    }
  }

  .heading__icon {
    font-family: $font-icons;
    font-size: 30px;
    line-height: 40px;

    &--online {
      position: absolute;
      top: -3px;
      right: 127px;
    }
  }
}
