.heading {
  @include reset;
  margin-top: 0;
  font-family: $font-heading;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -.03em;
  text-transform: uppercase;

  &--contact {
    margin-bottom: 15px;
    color: $contacts-color;
    font-size: 13px;
    line-height: 13px;
  }

  &--reviews {
    @include dflex(nowrap, row, flex-start, center);
    margin-bottom: 10px;
    color: #fff;
  }

  &--faq {
    max-width: 185px;
    margin-bottom: 9px;
    color: #000;
  }

  &--delivery {
    max-width: 115px;
    margin-bottom: 13px;
    color: #fff;
    font-size: 13px;
    line-height: 120%;
  }

  &--platform {
    max-width: 175px;
    margin-bottom: 12px;
    color: #000;
    font-size: 13px;
    line-height: 120%;
  }

  &--online {
    margin-bottom: 13px;
    color: #fff;
    font-size: 13px;
    line-height: 120%;
  }

  &--download {
    margin-bottom: 11px;
    color: $download-heading-color;
    font-size: 13px;
  }
}

.heading__icon {
  &--reviews {
    margin-left: 10px;
    font-family: $font-icons;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    transform: rotate(-.55deg);
  }
}

.heading__accent {
  color: $accent-color;
}

@media (min-width: $tablet-bp) {
  .heading {
    max-width: 100%;
  }

  .heading br {
    display: none;
  }
}
