.header {
  @include dflex(nowrap, column, flex-start, stretch);
  position: relative;
  padding-top: 13px;
  min-height: 311px;
  background-image: linear-gradient(180deg, $header-footer-color -182.82%, #FFCD68 -100.25%, $header-footer-color 54.78%, $header-footer-color 95.73%);
}

.header__main-img {
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
}

.header__container {
  @include dflex(nowrap, row, space-between, center);
}

.header__rows {
  @include dflex(nowrap, column, flex-start, stretch);
  flex-grow: 1;
}

.header__banner-row {
  position: relative;
  flex-grow: 1;
}

.header__social {
  position: absolute;
  top: 64px;
  right: 32px;
}

.header__scroll-btn {
  display: none;
}

@media (min-width: $tablet-bp) {
  .header {
    min-height: 366px;
    background-image: url("../img/bg-header-main-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: auto 493px;
    background-position: center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-main-tablet@2x.png");
    }
  }

  .header__main-img {
    top: 61px;
    bottom: auto;
  }

  .header__social {
    top: 100px;
    right: 28px;
  }
}

@media (min-width: $desktop-bp) {
  .header {
    min-height: 900px;
    // height: 100vh;
    background-image: url("../img/bg-header-main-desktop@1x.png");
    background-size: 100% 493px;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-main-desktop@2x.png");
    }
  }

  .header__main-img {
    top: 0;
    left: calc(50% - 11px);
  }

  .header__social {
    top: 220px;
  }

  .header__rows {
    position: relative;
    z-index: 3;
  }

  .header__scroll-btn {
    @include transition(color);
    position: absolute;
    top: 732px;
    left: 50%;
    display: block;
    width: 90px;
    height: 90px;
    color: #fff;
    background-color: transparent;
    border: none;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;

    &:hover,
    &:focus {
      color: $accent-color;
      outline: none;
    }
  }
}
