.header {
  @include dflex(nowrap, column, flex-start, stretch);
  position: relative;
  padding-top: 13px;
  min-height: 311px;
  background-image: linear-gradient(180deg, $header-footer-color -182.82%, #FFCD68 -100.25%, $header-footer-color 54.78%, $header-footer-color 95.73%);
}

.header__main-img {
  position: absolute;
  bottom: 11px;
  left: 50%;
  transform: translateX(-50%);
}

.header__container {
  @include dflex(nowrap, row, space-between, center);
}

.header__rows {
  @include dflex(nowrap, column, flex-start, stretch);
  flex-grow: 1;
}

.header__banner-row {
  position: relative;
  flex-grow: 1;
}

.header__social {
  position: absolute;
  top: 64px;
  right: 32px;
}

@media (min-width: $tablet-bp) {
  .header {
    min-height: 366px;
    background-image: url("../img/bg-header-main-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: auto 493px;
    background-position: center bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-header-main-tablet@2x.png");
    }
  }

  .header__main-img {
    top: 61px;
    bottom: auto;
  }

  .header__social {
    top: 100px;
    right: 28px;
  }
}
