.logo {
  display: block;
}

.logo__img {
  display: block;
}

@media (min-width: $tablet-bp) {
  .logo--header .logo__img {
    width: 48px;
    height: 48px;
  }

  .logo--footer .logo__img {
    width: 43px;
    height: 43px;
  }
}

@media (min-width: $desktop-bp) {
  .logo--header .logo__img {
    width: 42px;
    height: 42px;
  }

  .logo--footer .logo__img {
    width: 37px;
    height: 42px;
  }
}
