.platform {
  position: relative;
  padding: 30px 0 96px;

  &::after {
    @include abs-pseudo;
    bottom: 18px;
    left: calc(50% - 50px);
    width: 158px;
    height: 68px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../img/bg-platform-mobile@1x.png");
    transform: translateX(-50%);
    z-index: 1;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-platform-mobile@2x.png");
    }
  }
}

.platform__text {
  @include reset;
}

@media (min-width: $tablet-bp) {
  .platform {
    padding: 41px 0 231px;

    &::after {
      bottom: 5px;
      left: 50%;
      width: 540px;
      height: 231px;
      background-image: url("../img/bg-platform-tablet@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/bg-platform-tablet@2x.png");
      }
    }
  }
}
