.reviews {
  padding: 24px 0 49px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../img/bg-reviews-mobile@1x.png");
  background-color: $dark-block-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-reviews-mobile@2x.png");
  }
}

.reviews__desc {
  @include reset;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}

@media (min-width: $tablet-bp) {
  .reviews {
    padding: 35px 0 132px;
    background-position: top;
    background-size: auto 100%;
    background-image: url("../img/bg-reviews-tablet@1x.png");
    background-color: #fff;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-reviews-tablet@2x.png");
    }
  }

  .reviews__desc {
    margin-bottom: 20px;
  }
}
