.reviews {
  padding: 30px 0 39px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-image: url("../img/bg-reviews-mobile@1x.png");
  background-color: $dark-block-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-reviews-mobile@2x.png");
  }
}

.reviews__desc {
  @include reset;
  margin-bottom: 10px;
  color: #fff;
  font-size: 14px;
}
