body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  font-family: $font-main;
  color: $text-color-1;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

@media (min-width: $tablet-bp) {
  body {
    font-size: 14px;
    line-height: 150%;
  }
}
