$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-bp: 768px;
$desktop-bp: 1200px;
$text-color-1: #4E5C66;
$text-color-2: #fff;
$font-main: "Roboto", "Arial", sans-serif;
$font-heading: "Ubuntu", "Arial", sans-serif;
$header-footer-color: #FFAB00;
$dark-block-color: #454080;
$accent-color: #FF9C01;
$btn-color: #F7620F;
$form-field-color: #EEEFF2;
